.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100%;
}

.pageTitle {
  color: black;
  margin: 1vh auto 0 auto;
}

/* UNIVERSAL */

.content {
  height: calc(90vh - 100px);
  color: black;
  margin-top: 10vh;
}

/* Navigation */

.nav {
  background-color: black;
  color: white;
  position: relative;
  height: 50px;
}

.nav h1 {
  margin-left: 10px;
  color: white;
}

.navLinks {
  margin: auto 0 auto 0;
  top: 50%;
}

.navLink {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* Footer */

.footer {
  background-color: black;
  color: white;
  height: 50px;
}

/* Main */


.mainLink h3 {
  margin: 2vh auto 2vh auto;
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

/* About */

.about {
  color: black;
}

/* Register */

.Register {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 200px;
  position: relative;
  min-height: 1000px;
}

/* Login */

.Login {
  min-height: 90vh;
}

/* Profile */

.Profile {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 200px;
  position: relative;
  min-height: 1000px;
}

/* -------------------------------------------- */

/* Locations */

.Locations {
  background-color: whitesmoke;
  width: 100%;
  height: 90vh;
  position: relative;
}

.AddLocation {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 208px;
  position: relative;
  min-height: 1000px;
}

.locationItem {
  display: inline-block;
  color: black;
  width: 300px;
}

.locationItemName {
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.detailsButton {
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.detailsButton:hover {
  transform: scale(1.1);
}


.Location {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 178px;
  position: relative;
  min-height: 800px;
}

.locationImg {
  border: 1px solid black;
  border-radius: 20px;
  height: 150px;
  margin-top: -10px;
}

.locationImg:hover {
  transform: scale(1.05);
}

.locationProfileImg {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

/* -------------------------------------------- */

/* Valets */

.Valets {
  background-color: whitesmoke;
  width: 100%;
  position: relative;
  height: calc(100vh - 100px)
}

.AddValet {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 208px;
  position: relative;
  min-height: 1000px;
}

.Valet {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 178px;
  position: relative;
  min-height: 800px;
}

.valetItem {
  display: inline-block;
  background-color: darkolivegreen;
  border: 10px solid black;
  color: black;
  border-radius: 40px;
  margin: 10px;
  width: 300px;
  min-height: 350px;
  max-height: 450px;
  padding: 15px;
}

.valetItemName {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.valetImg {
  border: 1px solid black;
  border-radius: 20px;
  height: 150px;
}

.valetImg:hover {
  transform: scale(1.1);
}

.valetProfileImg {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
}

/* id attributes cause class wouldn't work */
#test {
  border: 10px solid black;
  border-radius: 20px;
  background-color: olivedrab;
  width: 500px;
  margin: auto;
  padding-bottom: 20px;
}

#locationButton {
  margin-left: 80px;
}

.black {
  color: black;
}

/* Forms */

.form-control {
  border: 10px solid black;
  padding: 10px;
  color: black;
}

/* misc */

.deleteButton {
  padding: 20px;
  font-size: 20px;
  margin: 15px;
  background-color: crimson;
  border-radius: 10px;
}

.deleteButton:hover {
  transform: scale(1.1);
}

.addButton {
  padding: 20px;
  font-size: 20px;
  margin: 15px;
  background-color: turquoise;
  border-radius: 10px;
}

.addButton:hover {
  transform: scale(1.1);
}

