.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* Navigation */


.Navigation {
  border-top: solid black 10px;
  border-bottom: solid black 10px;
  width: 100%;
	/* height: 14vh; */
	background-color: whitesmoke;
	color: white;
	position: absolute;
	top: 0;
  
}

.navTitle {
  font-size: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  background-color: olivedrab;
}

.navItem {
  display: inline;
	height: auto;
	cursor: pointer;
	padding: 0.5%;
	margin: 0.1%;
  margin-right: 2%;
	vertical-align: top;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: olivedrab;
}

/* Main */
.Main {
  background-color: olivedrab;
  width: 10000px;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

.mainLink {
  background-color: whitesmoke;
  margin: auto;
  border: 1px solid black;
  width: 400px;
  margin-bottom: 50px;
  
}

/* About */ 

.About {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

/* Register */

.Register {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

/* Login */

.Login {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

/* Profile */

.Profile {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

/* -------------------------------------------- */

/* Locations */

.Locations {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

.AddLocation {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

.locationItem {
  display: inline-block;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 40px;
  margin: 10px;
  width: 400px;
  height: 450px;
  padding: 10px;
  padding-top: 40px;
}

.locationItemName {
  background-color: olivedrab;
  border: 1px solid black;
  border-radius: 40px;
  width: 80%;
  margin: auto;
}

.Location {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

.locationImg {
  background-color: whitesmoke;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
}


/* -------------------------------------------- */

/* Valets */

.Valets {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

.AddValet {
  background-color: olivedrab;
  width: 100%;
  border: solid black 10px;
  margin-top: 200px;
  position: relative;
  min-height: 800px;
}

.valetItem {
  display: inline-block;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 40px;
  margin: 10px;
  width: 400px;
  height: 550px;
  padding: 10px;
  padding-top: 40px;
}

.valetItemName {
  background-color: olivedrab;
  border: 1px solid black;
  border-radius: 40px;
  width: 80%;
  margin: auto;
}