.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pageTitle {
  color: white;
  margin-top: 20px;
  border: solid 10px black;
  border-bottom: 10px solid black;
  background-color: olivedrab;
  min-height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pageTitle2 {
  color: white;
  margin-top: 20px;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  background-color: olivedrab;
  min-height: 120px;
}






/* Navigation */


.Navigation {
  border-top: solid black 10px;
  border-bottom: solid black 10px;
  width: 100%;
	/* height: 14vh; */
	background-color: whitesmoke;
	color: white;
	position: absolute;
	top: 0;
}

.navTitle {
  font-size: 50px;
  border: 10px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  background-color: olivedrab;
}

.navItem {
  display: inline;
	height: auto;
	cursor: pointer;
	padding: 0.5%;
	margin: 0.1%;
  margin-right: 2%;
	vertical-align: top;
  
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: olivedrab;
  
}

/* Footer */
.footer {
  border-top: 10px solid black;
  color: white;
  background-color: olivedrab;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Main */
.Main {
  background-color: whitesmoke;
  width: 900px;
  margin-top: 225px;
  position: relative;
  min-height: 1000px;
  color: black;
}

.mainLink {
  background-color: olivedrab;
  margin: auto;
  margin-top: 40px;
  border: 10px solid black;
  border-radius: 20px;
  width: 400px;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
}

.mainLink:hover {
  transform: scale(1.25);
}

.mainPageBox {
  border-left: solid 10px black;
  border-right: solid 10px black;
  border-top: solid 1px black;
  border-bottom: solid 10px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black
}

/* About */ 

.About {
  background-color: whitesmoke;
  width: 1000px;
  margin-top: 200px;
  position: relative;
  min-height: 1000px;
}

/* Register */

.Register {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 200px;
  position: relative;
  min-height: 1000px;
}

/* Login */

.Login {
  background-color: whitesmoke;
  width: 600px;
  margin-top: 200px;
  position: relative;
  min-height: 1000px;
}

/* Profile */

.Profile {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 200px;
  position: relative;
  min-height: 1000px;
}

/* -------------------------------------------- */

/* Locations */

.Locations {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 178px;
  position: relative;
  min-height: 1000px;
}

.AddLocation {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 208px;
  position: relative;
  min-height: 1000px
}

.locationItem {
  display: inline-block;
  background-color: olivedrab;
  border: 10px solid black;
  color: black;
  border-radius: 40px;
  margin: 10px;
  width: 300px;
  min-height: 350px;
  max-height: 450px;
  padding: 15px;
}

.locationItemName {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.Location {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 178px;
  position: relative;
  min-height: 800px;
}

.locationImg {
  border: 1px solid black;
  border-radius: 20px;
  height: 150px;
  margin-top: -10px;
}

.locationImg:hover {
  transform: scale(1.05);
}

.locationProfileImg {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}


/* -------------------------------------------- */

/* Valets */

.Valets {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 178px;
  position: relative;
  min-height: 1000px;
}

.AddValet {
  background-color: whitesmoke;
  width: 700px;
  margin-top: 208px;
  position: relative;
  min-height: 1000px
}

.Valet {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 178px;
  position: relative;
  min-height: 800px;
}

.valetItem {
  display: inline-block;
  background-color: olivedrab;
  border: 10px solid black;
  color: black;
  border-radius: 40px;
  margin: 10px;
  width: 300px;
  min-height: 350px;
  max-height: 450px;
  padding: 15px;
}

.valetItemName {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.valetImg {
  border: 1px solid black;
  border-radius: 20px;
  height: 150px
}

.valetImg:hover {
  transform: scale(1.1);
}

.valetProfileImg {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
}

/* id attributes cause class wouldn't work */
#test {
  border: 10px solid black;
  border-radius: 20px;
  background-color: olivedrab;
  width: 500px;
  margin:auto;
  padding-bottom: 20px;
  
}

#locationButton {
  margin-left: 80px;
}

.black {
  color: black;
}



/* Forms */

.form-control {
  border: 10px solid black;
  padding: 10px;
  color: black
}